:host {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	form {
		width: 100%;
		max-width: 1000px;
		padding: 0 30px;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;

		font-size: 22px;

        // GET RID OF ARROWS IN INPUT TYPE NUMBER
		/* Chrome, Safari, Edge, Opera */
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		/* Firefox */
		input[type='number'] {
			-moz-appearance: textfield;
		}

		.step {
			color: #0084c9;
			font-size: 26px;
			font-weight: 600;
			margin-bottom: 40px;
		}

		.group {
			width: 100%;
			display: flex;
			justify-content: space-between;
			margin-bottom: 12px;

			label {
				display: inline-block;
				width: 240px;
			}

			input,
			select {
				display: inline-block;
				width: calc(100% - 240px);

				box-sizing: border-box;

				border-radius: 2px;
				padding: 5px 10px;
				border: 1px #6c757d solid;
			}

			input[type='radio']:hover,
			select:hover {
				cursor: pointer;
			}

			.radio-options-container {
				width: calc(100% - 240px);
				display: flex;
				justify-content: space-between;

				.radio-option {
					border: 1px #6c757d solid;
					border-radius: 2px;
					padding: 5px 10px;

					label {
						width: auto;
					}
					input {
						width: auto;
					}
				}
			}
		}
		.group.two-subgroups {
			display: flex;
			justify-content: space-between;

			.sub-group:nth-child(2) {
				margin-left: 20px;
				label {
					width: auto;
				}
				input {
					min-width: 100px;
				}
			}
		}

		button {
			margin-top: 28px;
			background-color: #0084c9;
			color: white;

			border: none;
			border-radius: 2px;
			padding: 10px 20px;

			font-size: 22px;
			font-weight: 400;

			&:hover {
				cursor: pointer;
				opacity: 0.8;
			}
		}

		.invalid-message {
			display: block;

			color: #ff0000;
			font-size: 14px;
			margin-left: 240px;
			margin-bottom: 10px;
			margin-top: -10px;
		}

		.invalid-message-for-subgroups {
			width: 150px;
		}

		.sub-group-A {
			input {
				// min-width: 180px;
			}
		}

		.sub-group-B {
			max-width: 260px;
			.invalid-message-for-subgroups {
				display: flex;
				justify-content: flex-end;
			}

			span {
				display: flex;
				width: 100%;
				margin-left: 0;
				margin-right: 0;
				text-align: end;
			}
		}

		select.ng-invalid.ng-touched,
		input.ng-invalid.ng-touched {
			border: 1px #ff0000 solid;
		}
	}

	.info {
		// min-width: 365px;
		max-width: 30%;
		height: 510px;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;

		margin: 0 26px;
		padding: 20px 50px;
		background-color: #b9d1e7;

		font-weight: 300;
		letter-spacing: 0.5px;

		h2 {
			color: #0084c9;
			font-size: 30px;
		}

		ul li {
			margin: 5px 0;
		}

		ul li:last-child {
			color: #ff0000;
		}

		ul li span {
			color: #0084c9;
			font-weight: 500;
		}
	}
}
