<form [formGroup]="rcaForm" (ngSubmit)="onSubmit()">
	<div class="step">Pasul 1 din 2: date despre autovehicul</div>
	<!-- STARE INAMTRICULARE -->
	<div class="group">
		<label for="stare inmatriculare">Stare inmatriculare</label>
		<select name="stare inmatriculare" formControlName="stare inmatriculare">
			<option value="alege">alege</option>
			<option value="inmatriculat">inmatriculat</option>
			<option value="in vederea inmatricularii">in vederea inmatricularii</option>
		</select>
	</div>
	<span
		class="invalid-message"
		*ngIf="rcaForm.get('stare inmatriculare')?.value == 'alege' && rcaForm.get('stare inmatriculare')?.touched"
		>Alege starea masinii</span
	>

	<!-- NUMAR INAMTRICULARE -->
	<div class="group">
		<label for="numar inmatriculare">Numar inmatriculare</label>
		<input
			type="text"
			name="numar inmatriculare"
			placeholder="POZITIA A DIN TALON"
			formControlName="numar inmatriculare"
			style="text-transform: uppercase"
            (click)="onSelectInfo()"
		/>
	</div>
	<span
		class="invalid-message"
		*ngIf="!rcaForm.get('numar inmatriculare')?.valid && rcaForm.get('numar inmatriculare')?.touched"
	>
		<span *ngIf="rcaForm.controls?.['numar inmatriculare']?.errors?.['pattern']">
			Introdu un numar de inmatriculare valid</span
		>
		<span *ngIf="rcaForm.controls?.['numar inmatriculare']?.errors?.['required']">
			Introdu un numar de inmatriculare</span
		>
	</span>

	<!-- CATEGORIE -->
	<div class="group">
		<label for="categorie">Categorie</label>
		<select name="categorie" formControlName="categorie">
			<option value="alege">alege</option>
			<option value="autoturism">autoturism (inclusiv autoturisme de teren)</option>
			<option value="autoutilitara">autoutilitara, autofurgoneta</option>
			<option value="motocicleta">motocicleta, scuter, atv</option>
			<option value="remorca">remorca</option>
		</select>
	</div>
	<span
		class="invalid-message"
		*ngIf="rcaForm.get('categorie')?.value == 'alege' && rcaForm.get('categorie')?.touched"
		>Alege categoria din care face parte masina</span
	>

	<!-- MARCA -->
	<div class="group">
		<label for="marca">Marca</label>
		<select name="marca" formControlName="marca">
			<option value="alege">alege</option>
			<option *ngFor="let item of carBrands" [value]="item.brand">{{ item.brand }}</option>
		</select>
	</div>
	<span class="invalid-message" *ngIf="rcaForm.get('marca')?.value == 'alege' && rcaForm.get('marca')?.touched"
		>Alege marca masinii</span
	>

	<!-- MODEL -->
	<div class="group">
		<label for="model">Model</label>
		<select name="model" formControlName="model">
			<option value="alege">alege</option>
		</select>
	</div>
	<span class="invalid-message" *ngIf="rcaForm.get('model')?.value == 'alege' && rcaForm.get('model')?.touched"
		>Alege modelul masinii</span
	>

	<!-- NUMAR IDENTIFICARE SASIU -->
	<div class="group">
		<label for="numar sasiu">Nr. identificare (serie sasiu)</label>
		<input
			type="text"
			name="numar sasiu"
			placeholder="POZITIA E DIN TALON"
			formControlName="numar identificare sasiu"
			minlength="17"
			style="text-transform: uppercase"
		/>
	</div>
	<span
		class="invalid-message"
		*ngIf="!rcaForm.get('numar identificare sasiu')?.valid && rcaForm.get('numar identificare sasiu')?.touched"
	>
		<span *ngIf="rcaForm.controls?.['numar identificare sasiu']?.errors?.['required']"
			>Introdu seria de sasiu a autovehiculului</span
		>
		<span *ngIf="rcaForm.controls?.['numar identificare sasiu']?.errors?.['minlength']"
			>Introdu o serie de sasiu valabila</span
		>
	</span>

	<!-- TIP UTILIZARE -->
	<div class="group">
		<label for="tip utilizare">Tip utilizare</label>
		<div class="radio-options-container">
			<div class="radio-option">
				<input type="radio" name="tip utilizare" value="utilizare normala" formControlName="tip utilizare" />
				<label for="tip utilizare">Utilizare normala</label>
			</div>
			<div class="radio-option">
				<input type="radio" name="tip utilizare" value="alta utilizare" formControlName="tip utilizare" />
				<label for="tip utilizare">Alta utilizare</label>
			</div>
		</div>
	</div>

	<!-- UTILIZRE SPECIFICA -->
	<div class="group" *ngIf="rcaForm.get('tip utilizare')?.value == 'alta utilizare'">
		<label for="utilizare specifica">Utilizare specifica</label>
		<select name="utilizare specifica" formControlName="utilizare specifica">
			<option value="alege">alege</option>
			<option value="taxi">Taxi</option>
			<option value="curierat">Curierat</option>
			<option value="rent a car">Rent a car</option>
			<option value="distributie">Distributie / Transport marfa</option>
			<option value="paza si protectie">Paza si protectie</option>
			<option value="scoala de soferi">Scoala de soferi</option>
			<option value="transport international">Transport international</option>
			<option value="institutie publica">Institutie publica</option>
		</select>
	</div>
	<span
		class="invalid-message"
		*ngIf="rcaForm.get('utilizare specifica')?.value == 'alege' && rcaForm.get('utilizare specifica')?.touched"
		>Alege modul de utilizare specific autovehiculului</span
	>

	<!-- SERIE CARTE AUTO (CIV) -->
	<div class="group">
		<label for="serie carte auto">Serie carte auto</label>
		<input
			type="text"
			name="serie carte auto"
			placeholder="POZITIA X SAU Y. EX: G123456"
			formControlName="serie carte auto"
		/>
	</div>
	<span
		class="invalid-message"
		*ngIf="!rcaForm.get('serie carte auto')?.valid && rcaForm.get('serie carte auto')?.touched"
	>
		<span *ngIf="rcaForm.controls?.['serie carte auto']?.errors?.['required']"
			>Introdu seria cartii auto a autovehiculului</span
		>
		<span *ngIf="rcaForm.controls?.['serie carte auto']?.errors?.['pattern']">Introdu o serie valida</span>
	</span>

	<div class="group two-subgroups">
		<!-- GROUP A -->
		<div class="sub-group sub-group-A">
			<!-- MASA MAXIMA AUTORIZATA -->
			<div class="group">
				<label for="masa maxima autorizata">Masa maxima autorizata</label>
				<input
					type="text"
					name="masa maxima autorizata"
					placeholder="pozitia F.1"
					formControlName="masa maxima autorizata"
					minlength="3"
				/>
			</div>
			<span
				class="invalid-message invalid-message-for-subgroups"
				*ngIf="!rcaForm.get('masa maxima autorizata')?.valid && rcaForm.get('masa maxima autorizata')?.touched"
			>
				<span *ngIf="rcaForm.controls?.['masa maxima autorizata']?.errors?.['required']"
					>Introdu masa maxima autorizata</span
				>
				<span *ngIf="rcaForm.controls?.['masa maxima autorizata']?.errors?.['minlength']"
					>Masa autovehiculului trebuie sa contina cel putin 3 cifre</span
				>
			</span>

			<!-- CAPACITATE CILINDRICA -->
			<div class="group">
				<label for="capacitate cilindrica">Capacitate cilindrica</label>
				<input
					type="text"
					name="capacitate cilindrica"
					placeholder="pozitia P.1"
					formControlName="capacitate cilindrica"
					minlength="2"
				/>
			</div>
			<span
				class="invalid-message invalid-message-for-subgroups"
				*ngIf="!rcaForm.get('capacitate cilindrica')?.valid && rcaForm.get('capacitate cilindrica')?.touched"
			>
				<span *ngIf="rcaForm.controls?.['capacitate cilindrica']?.errors?.['required']"
					>Introdu capacitatea cilindrica a autovehiculului</span
				>
				<span *ngIf="rcaForm.controls?.['capacitate cilindrica']?.errors?.['minlength']"
					>Capacitatea cilindrica a autovehiculului trebuie sa contina cel putin 2 cifre</span
				>
			</span>

			<!-- AN FABRICATIE -->
			<div class="group">
				<label for="an fabricatie">An fabricatie</label>
				<input
					type="text"
					name="an fabricatie"
					placeholder="pozitia B"
					formControlName="an fabricatie"
					minlength="4"
				/>
			</div>
			<span
				class="invalid-message invalid-message-for-subgroups"
				*ngIf="!rcaForm.get('an fabricatie')?.valid && rcaForm.get('an fabricatie')?.touched"
			>
				<span *ngIf="rcaForm.controls?.['an fabricatie']?.errors?.['required']"
					>Introdu anul de fabricatia al autovehiculului</span
				>
				<span *ngIf="rcaForm.controls?.['an fabricatie']?.errors?.['minlength']"
					>Anul de fabricatia al autovehiculului trebuie sa contina 4 cifre</span
				>
			</span>
		</div>

		<!-- GROUP B -->
		<div class="sub-group sub-group-B">
			<!-- NUMAR LOCURI -->
			<div class="group">
				<label for="numar locuri">Numar locuri</label>
				<input type="number" name="numar locuri" placeholder="pozitia S.1" formControlName="numar locuri" />
			</div>
			<span
				class="invalid-message invalid-message-for-subgroups"
				*ngIf="!rcaForm.get('numar locuri')?.valid && rcaForm.get('numar locuri')?.touched"
			>
				Introdu numarul de locuri al autovehiculului
			</span>

			<!-- PUTERE -->
			<div class="group">
				<label for="putere">Putere</label>
				<input type="number" name="putere" placeholder="pozitia P.1" formControlName="putere" />
			</div>
			<span
				class="invalid-message invalid-message-for-subgroups"
				*ngIf="!rcaForm.get('putere')?.valid && rcaForm.get('putere')?.touched"
			>
				Introdu puterea motorului autovehiculului
			</span>
		</div>
	</div>
	<button>Continua</button>
</form>

<div class="info" *ngIf="showInfo">
	<h2>Informatii utile</h2>
	<p>Optiunile din stanga reprezinta una din starile autovehiculului:</p>
	<ul>
		<li>
			<span>Inmatriculat</span> - cand autovehiculul este inmatriculat in Romania si proprietarul curent este
			persoana trecuta in talonul masinii;
		</li>
		<li>
			<span>In vederea inmatricularii</span> - cand cumparati un autovehicul nou sau rulat pentru a-l inmatricula;
		</li>
		<li>
			<span>Inregistrat la primarie</span> - autovehicul special care nu necesita inmatriculare la politie: ex
			scuter pana in 50cc;
		</li>
		<li>
			<span>In vederea inregistrarii </span> - cand cumparati un autovehicul nou sau rulat ce indeplineste
			conditiile inregistrarii la primarie si nu inmatricularii;
		</li>
		<li>
			Exista posibilitatea ca Directia de Inmatriculari din judetul dumneavoastra sa nu accepte polite cu
			valabilitate mai mica de 6 luni pentru autovehiculele in vederea inmatricularii.
		</li>
	</ul>
</div>

<div class="info-example" *ngIf="showExample">
	<h3>Exemplu talon auto <span>(Nu copiati aceste date!)</span></h3>
	<div class="example-area">
		<div class="row-A">
			<div class="line">
				<span>A</span>
				<span>B-80-RCA</span>
			</div>
			<div class="line">
				<span>J</span>
				<span>AUTOTURISM M1</span>
			</div>
			<div class="line">
				<span>D.1</span>
				<span> RENAULT</span>
			</div>
			<div class="line">
				<span>D.2</span>
				<span>T98 DZ11</span>
			</div>
			<div class="line">
				<span>D.3</span>
				<span>CLIO</span>
			</div>
			<div class="line">
				<span>E</span>
				<span>W0L0TGF411G081274</span>
			</div>
			<div class="line">
				<span>K</span>
				<span>e1*13*0084*23</span>
			</div>
			<div class="line">
				<span>C.2</span>
				<span>PETRESCU DANIEL</span>
			</div>
			<div class="line">
				<span>C.2.2</span>
				<span> </span>
			</div>
			<div class="line">
				<span>C.2.3</span>
				<span>Str. VIILOR nr. 1 Bl. 4 Sc. D Ap. 89 mun BUCURESTI SECTORUL 1</span>
			</div>
			<div class="line">
				<span>C.3</span>
				<span>C.3.1 </span>
			</div>
			<div class="line">
				<span>C.3.2</span>
				<span> </span>
			</div>
			<div class="line">
				<span>C.3.3</span>
				<span> </span>
			</div>
		</div>
		<div class="row-B">
			<div class="row-B-1">
				<div class="line">
					<span>B</span>
					<span>30.02.2012</span>
				</div>
				<div class="line">
					<span>I</span>
					<span>30.02.2016</span>
				</div>
				<div class="line">
					<span>F.1</span>
					<span>1745</span>
				</div>
				<div class="line">
					<span>P.1</span>
					<span>1686</span>
				</div>
				<div class="line">
					<span>P.3 </span>
					<span>MOTORINA</span>
				</div>
				<div class="line">
					<span>R</span>
					<span>NEGRU</span>
				</div>
				<div class="line">
					<span>S.1</span>
					<span>5</span>
				</div>
				<div class="line">
					<span>(X)</span>
					<span>G123123</span>
				</div>
			</div>
			<div class="row-B-2">
                <div class="line">
					<span>H</span>
					<span> </span>
				</div>
                <div class="line">
					<span>I.1</span>
					<span>30.02.2016</span>
				</div>
                <div class="line">
					<span>G</span>
					<span>1280</span>
				</div>
                <div class="line">
					<span>P.2</span>
					<span>59</span>
				</div>
                <div class="line">
					<span>Q</span>
					<span> </span>
				</div>
                <div class="line">
					<span> </span>
					<span> </span>
				</div>
                <div class="line">
					<span> </span>
					<span> </span>
				</div>
                <div class="line">
					<span>Z</span>
					<span>DRPCIV Olt</span>
				</div>
            </div>
		</div>
	</div>
</div>
