<app-toaster message="Login completed" type="success" *ngIf="userIsloggedin && showToaster"></app-toaster>
<app-toaster message="Login failed" type="danger" *ngIf="!userIsloggedin && showToaster"></app-toaster>

<form>
	<div class="group">
		<label for="email">Email</label>
		<input type="text" name="email" [(ngModel)]="user.email">
	</div>
	<div class="group">
		<label for="password">Password</label>
		<input type="password" name="password" [(ngModel)]="user.password">
	</div>

	<app-button text="LOGIN" (click)="onLogin()" class="login-button"></app-button>
</form>