<h1 class="logo align-center-x-Y-flexStart" routerLink="">Finnace App</h1>

<div class="main-buttons align-center-x-Y-flexStart">
	<app-button text="Home" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"></app-button>
	<app-button text="Transactions" routerLink="transactions"  routerLinkActive="active"></app-button>
	<app-button text="Create Transactions" routerLink="create-transaction"  routerLinkActive="active"></app-button>
</div>

<div class="secondary-buttons align-center-x-Y-flexStart">
	<app-button text="Log In"></app-button>
</div>
