.align-center-x-Y-flexStart {
	// === UTILITY CLASS ===
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

:host {
	height: 100%;
	width: 20%;
	// max-width: 300px;
	position: fixed;

	background-color: var(--black);
	color: var(--white);

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

	.logo {
		flex: 2;
		letter-spacing: 2px;
	}

	.main-buttons {
		flex: 4;
		font-size: 20px;
	}

	.secondary-buttons {
		flex: 4;
		font-size: 20px;
	}
}
