.align-center-x-Y-flexStart {
	// === UTILITY CLASS ===
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

:host {
	background-color: var(--black);
	color: var(--white);
	height: 100%;
	min-width: 300px;

	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

	.logo {
		flex: 2;
		letter-spacing: 2px;
	}

	.logo:hover {
		cursor: pointer;
	}

	.main-buttons,
	.secondary-buttons {
		flex: 4;
		font-size: 20px;

		& > app-button {
			width: 100%;
			border-radius: 5px;
			padding: 0 20px;
		}
	}

	.active {
		background-color: var(--orange);
	}
}