<div class="filter-container">
	<input type="text" name="search" placeholder="Search Transaction" class="search-input" />
	<app-button text="search"></app-button>
	<p>Filter by</p>
	<select name="filter by">
		<option value="type">Type</option>
		<option value="type">Date</option>
		<option value="type">Amount</option>
		<option value="type">Description</option>
		<option value="type">ID</option>
	</select>
</div>

<div class="headlines-container">
	<p class="headline">Transaction ID</p>
	<p class="headline description">Description</p>
	<p class="headline">Amount</p>
	<p class="headline">Date</p>
</div>

<span class="line"></span>

<div
	class="transaction-container"
	*ngFor="let transaction of transactions; let i = index"
	[ngClass]="{ 'bg-color-gray': i % 2 === 0 }"
	[routerLink]="transaction.transactionId"
>
	<p class="information">{{ transaction.transactionId }}</p>
	<p class="information description">{{ transaction.description }}</p>
	<p class="information">{{ transaction.amount }}</p>
	<p class="information">{{ transaction.date }}</p>
</div>
