<div class="filter-container">
	<input type="text" name="search" placeholder="Search Transaction" class="search-input" />
	<app-button text="search"></app-button>
	<p>Filter by</p>
	<select name="filter by">
		<option value="type">Type</option>
		<option value="type">Date</option>
		<option value="type">Amount</option>
		<option value="type">Description</option>
		<option value="type">ID</option>
	</select>
</div>

<div class="headlines-container">
	<p class="headline">Transaction ID</p>
	<p class="headline">Description</p>
	<p class="headline">Amount</p>
	<p class="headline">Date</p>
</div>

<span class="line"></span>

<div
	class="transaction-container"
	*ngFor="let transaction of transactions; let i = index"
	[ngClass]="{ 'bg-color-gray': i % 2 === 0 }"
>
	<p class="information">1</p>
	<p class="information description">Paying Rent</p>
	<p class="information">1000</p>
	<p class="information">02.01.2023</p>
</div>