:host {
	width: 100%;

	.headlines-container,
	.transaction-container {
		display: flex;
		text-align: center;
		text-transform: uppercase;

		.headline {
			flex: 1;
			font-size: 25px;
			font-weight: bold;
		}

		.information {
			flex: 1;
			font-size: 20px;
		}
<<<<<<< HEAD

		.description {
			flex: 2;
		}
	}
	.transaction-container:hover {
			cursor: pointer;
			background-color: var(--blue);
		}
	.line {
		background-color: gray;
		width: 90%;
		height: 2px;
		margin: 10px 0;
	}

	.bg-color-gray {
		background-color: rgb(250, 241, 241);
=======
>>>>>>> parent of 272fdf0 (a)
	}

	.filter-container {
		width: 100%;
		display: flex;
		align-items: center;

		.search-input {
			padding: 10px;
		}

		app-button {
			background-color: var(--black);
			color: var(--white);
			text-transform: uppercase;
			padding: 0 20px;
			border-radius: 5px;
		}
	}

	.filter-container > * {
		margin: 0 20px;
		font-size: 16px;
	}
}
