<div class="headlines-container">
	<p class="headline">Transaction ID</p>
	<p class="headline description">Description</p>
	<p class="headline">Amount</p>
	<p class="headline">Date</p>
</div>

<span class="line"></span>

<!-- <div
	class="transaction-container"
	*ngFor="let transaction of transactions; let i = index"
	[ngClass]="{ 'bg-color-gray': i % 2 === 0 }"
	[routerLink]="transaction.id"
>
	<p class="information">{{ transaction.id }}</p>
	<p class="information description">{{ transaction.description }}</p>
	<p class="information"> <span *ngIf="transaction.type === 'payment'">-</span> <span *ngIf="transaction.type === 'addition'">+</span> {{ transaction.amount }}</p>
	<p class="information">{{ transaction.date }}</p>
</div> -->
<div
	class="transaction-container"
	*ngFor="let transaction of transactions$ | async; let i = index"
	[ngClass]="{ 'bg-color-gray': i % 2 === 0 }"
	[routerLink]="transaction.id"
>
	<p class="information">{{ transaction.id }}</p>
	<p class="information description">{{ transaction.description }}</p>
	<p class="information"> <span *ngIf="transaction.type === 'payment'">-</span> <span *ngIf="transaction.type === 'addition'">+</span> {{ transaction.amount }}</p>
	<p class="information">{{ transaction.date }}</p>
</div>
