<form>
	<div class="group-container description-container">
		<label for="descriptions">Description</label>
		<textarea name="description" cols="30" rows="10" placeholder="Transaction's Description"></textarea>
	</div>
	<div class="group-container amount-container">
		<label for="amount">Amount</label>
		<input type="number" name="amount" placeholder="0">
	</div>
	<div class="group-container category-container">
		<label for="category">Category</label>
		<select name="category">
			<option value="groceries">Groceries</option>
			<option value="entertainment">Entertainment</option>
			<option value="traveling">Traveling</option>
			<option value="savings">Savings</option>
		</select>
	</div>
	<div class="group-container payment-type-container">
		<label for="payment-type">Payment Type</label>
		<select name="payment type">
			<option value="paymeny">Paymeny</option>
			<option value="encashment">Encashment</option>
		</select>
	</div>
	<div class="group-container date-container">
		<label for="date">Date</label>
		<input type="date" name="date" [value]="selectedDate">
	</div>
	<button>CANCEL</button>
	<button>COMPLETE TRANSACTION</button>
</form>